  <% if target.errors.any? %>
    <div id="error_explanation">
      <h2> Existem erros que impedem que o registro seja cadastrado. Por favor verifíque-os:</h2>

      <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>