<div id="menu">
   <ul id="menu">
      <li>
        <%= link_to "VOCACIONADO", :controller => :vocacionados, :action => :index %>                    
      </li>
      <li><a href="#">VOCACIONADA</a></li>
      <li><a href="#">BENFEITOR</a></li>
      <li><a href="#">ADMINISTRADOR</a></li>      
   </ul>
</div>